<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Portfolio</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <!-- Link to CSS Stylesheet -->
  <%= stylesheet_link_tag 'application', media: 'all' %>
</head>
<body>
  <!-- Navigation Bar (Header) -->
  <header>
    <nav class="navbar">
      <ul>
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "Projects", projects_path %></li>
        <li><%= link_to "Contact", contact_path %></li>
      </ul>
    </nav>
  </header>

  <!-- Main Content -->
  <main class="container">
    <%= yield %> <!-- This is where each page's content will be inserted -->
  </main>

  <!-- Footer -->
  <footer>
    <p>© 2025 Kornel Hajto. All rights reserved.</p>
  </footer>
</body>
</html>
